.container {
  margin-top: 20px;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.keyword {
  border: 2px solid #d71718;
  border-radius: 30px;
  font-size: 21px;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  margin-right: 25px;
}

.selected,
.keyword:hover {
  color: #fff;
  background-color: #d71718;
  cursor: pointer;
}
