/backend/.idea/aws.xml
/backend/font-service/gradlew.bat
/backend/font-service/gradle/wrapper/gradle-wrapper.jar
/backend/.idea/gradle.xml
/backend/.idea/compiler.xml
/backend/font-service/.gitignore
/backend/.idea/modules/font-service.main.iml
/backend/font-service/gradlew
/backend/font-service/gradle/wrapper/gradle-wrapper.properties
/backend/.idea/.gitignore
/backend/.idea/backend.iml
/backend/.idea/jarRepositories.xml
/backend/.idea/misc.xml
/backend/.idea/modules.xml
/backend/font-service/settings.gradle
/backend/.idea/uiDesigner.xml
/backend/.idea/vcs.xml
