.overLay {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modalContainer {
  background-color: white;
  width: 600px;
  height: 400px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.closeIcon {
  cursor: pointer;

  &:hover {
    color: #d71718;
  }
}

.topBox {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 30px;
}

.middleBox {
  width: 90%;
  height: 250px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bottomBox {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
}

.modalBtn {
  height: 100%;
  border: 0px;
  border-radius: 10px;
  aspect-ratio: 4;
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin: 0px 10px;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.innerBox {
  border-radius: 10px;
  border: 2px solid #b6b6b6;
  height: 100%;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  font-size: 30px;
}

.makerIntroArea {
  border: none;
  resize: none;
  width: 100%;
  height: 100%;
  font-size: 30px;
}
