.container {
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  /* width: 28vw; */
  width: 300px;
  /* height: 40vh; */
  height: 300px;
  box-sizing: border-box;
  margin: 10px;
}

.container:hover {
  border: 3px solid #d71718;
  box-shadow:
    5px 10px 20px rgba(0, 0, 0, 0.2),
    5px 6px 4px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 0 8px;
}

.title {
  font-size: 38px;
  font-weight: bold;
  letter-spacing: -8px;
}

.title:hover {
  cursor: pointer;
  background-color: #fff1f0;
}

.bookIcon {
  margin-top: 5px;
  width: 28px;
  height: 28px;
  color: #d71718;
  cursor: pointer;
}

.fontMaker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 23px;
  padding: 5px 15px 15px 15px;
}

.coinIcon {
  width: 28px;
  height: 28px;
  color: rgb(255, 238, 0);
}

.fontMaker span:hover {
  text-decoration: underline 3px #484848;
}

.content span {
  cursor: pointer;
}

.borderTop {
  border-top: 1px solid #b6b6b6;
}

/* 다람쥐 헌 쳇바퀴에 타고파 */
.content {
  /* 행간 */
  line-height: 45px;
  font-size: 42px;
  padding: 5px;
  letter-spacing: -5px;
}
