.container {
  border: 1px solid #b6b6b6;
  width: 300px;
  height: 270px;
  box-sizing: border-box;
  margin: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 0 15px;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.bookIcon {
  width: 25px;
  height: 25px;
  color: #d71718;
}

.fontMaker {
  font-size: 19px;
  padding: 5px 0 15px 15px;
}

.borderTop {
  border-top: 1px solid #b6b6b6;
}

.content {
  font-size: 25px;
  padding: 15px;
}
