.overLay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modalContainer {
  background-color: white;
  width: 600px;
  height: 350px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
.closeIcon {
  cursor: pointer;

  &:hover {
    color: #d71718;
  }
}
.topBox {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 30px;
}
.middleBox {
  width: 100%;
  height: 220px;
  border-top: 3px solid #B6B6B6;
  border-bottom: 3px solid #B6B6B6;
  box-sizing: border-box;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.innerBox {
  width: 100%;
  height: 55px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.innerText {
  margin: 0px;
  font-size: 24px;
  font-weight: bold;

}

.bottomBox {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
}

.modalBtn {
  height: 100%;
  border: 0px;
  border-radius: 10px;
  aspect-ratio: 4;
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin: 0px 10px;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}