.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 170px;
}

.loadingBar {
  width: 40%;
  background-color: #e0e0e0;
  position: relative;
  height: 30px;
  display: flex;
}

.redPencilImg {
  width: 6vw;
  margin-bottom: 30px;
  transform: rotate(35deg);
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(45deg) translateX(0);
  }
  25% {
    transform: rotate(45deg) translateX(-5px);
  }
  75% {
    transform: rotate(45deg) translateX(5px);
  }
}

.progressBar {
  height: 100%;
  background-color: #d71718;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.1s ease-in-out;
}

.loadingInfo {
  margin-top: 30px;
  font-size: 23px;
  text-align: center;
  font-weight: 600;
  line-height: 13px;
}
