.loadContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.downLoadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.minuGuidImg {
    width: 15vw;
    margin: 20px 80px;
}

.downBtn {
    background-color: #ffffff;
    border: 2px solid #D71718;
    color: #D71718;
    border-radius: 10px;
    width: 120px;
    height: 45px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.downBtn:hover {
    background-color: #D71718;
    color: #fff;
    cursor: pointer;
}

.upLoadContainer {
    padding: 0 50px;
    margin-bottom: 55px;
}

.upLoadBar {
    border: 1px solid #B6B6B6;
    margin: 20px 0;
    padding: 18px 30px;
    border-radius: 30px;
    width: 350px;
    font-size: 18px;
}

.upLoadList {
    border: 1px solid #B6B6B6;
    margin: 20px 0;
    padding: 25px 30px;
    border-radius: 30px;
    width: 350px;
    height: 150px;
    font-size: 18px;
}

.upLoadFile {
    display: flex;
    align-items: center;
}

.info {
    white-space: pre-line;
    font-size: 18px;
    padding: 0 20px
}