.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .upLoadContainer {
  margin: auto;
} */

.rowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  background-color: #e8e8e8;
  margin: 15px;
  padding-left: 30px;
  border-radius: 20px;
  width: 430px;
  height: 50px;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.upLoadList {
  /* border: 3px dashed #b6b6b6; */
  border: 2px solid #b6b6b6;
  padding: 25px 30px;
  border-radius: 30px;
  width: 600px;
  height: 320px;
  font-size: 18px;
  display: flex;
  /* 내용이 박스를 초과하면 스크롤 생성 */
  overflow-y: hidden;
  overflow-x: auto;
}

.emptyContainer {
  /* display: flex; */
  align-items: center;
  text-align: center;
  margin: auto;
}

.emptyContainer img {
  width: 8vw;
}

.emptyMessage {
  font-size: 23px;
  line-height: 13px;
  /* font-weight: 600; */
}

.upLoadFile {
  display: flex;
  flex-direction: column;
  height: 250px;
  margin-right: 40px;
}

.upLoadFileName {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.upLoadFile img {
  height: 200px;
  margin: 15px 0;
}

.pdfPreview {
  margin: 15px 0;
  height: 200px;
}

.deleteIcon {
  margin-right: 10px;
  color: #484848;
  cursor: pointer;
}

.uploadBtn:hover {
  background-color: #ffffff;
  color: #d71718;
  border: 2px solid #d71718;
  cursor: pointer;
}

.uploadBtn {
  background-color: #d71718;
  color: white;
  border: none;
  border-radius: 10px;
  width: 180px;
  height: 45px;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  margin-right: 15px;

}

.btnContainer {
  margin: auto;
}

.nextBtn {
  background-color: #ffffff;
  color: #d71718;
  border: 2px solid #d71718;
  border-radius: 10px;
  width: 190px;
  height: 45px;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
}

.nextBtn:hover {
  background-color: #d71718;
  color: white;
  border: none;
  cursor: pointer;
}
