.container {
  margin: 40px 60px;
}

.rowContainer {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

/* 폰트 이름 설정 */
.name {
  display: flex;
  margin-top: 20px;
}

.nameInput {
  display: flex;
  align-items: center;
}

/* .fontName {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
} */

.rowContainer input,
.nameInput input {
  margin-left: 20px;
  /* height: 50px; */
  /* width: 20vw; */
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding-left: 15px;
}

.nameInput button {
  border-radius: 10px;
  background-color: #484848;
  color: #fff;
  height: 50px;
  font-size: 18px;
  padding: 15px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nameInput button:hover {
  opacity: 0.8;
}

.fontInfoContainer textarea {
  margin: 20px 35px;
  height: 70px;
  width: 1050px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 25px;
  font-family: '수트', SUIT-Regular;
  resize: none;
}

/* 저작권 관계 명시 */
.priceContainer {
  display: flex;
}

/* 하단 버튼 */
.btnContainer {
  display: flex;
  justify-content: center;
}

.nextBtn {
  background-color: #484848;
  border-radius: 10px;
  width: 400px;
  height: 50px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
}

.nextBtn:hover {
  background-color: #ffffff;
  color: #484848;
  border: 2px solid #484848;
  cursor: pointer;
}
