.topContainer {
    display: flex;
    margin: 60px 30px 40px 30px;
}

span {
    background-color: #FFF1F0;
}

.pageName {
    font-size: 30px;
    font-weight: bold;
    flex-grow: 1;
}

.searchBar {
    border: 2px solid #B6B6B6;
    padding: 10px 25px;
    border-radius: 30px;
    /* width: 350px; */
    width: 25vw;
    height: 22px;
    display: flex;
}

.searchBar input {
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 16px;
}

.filterBarWrapper {
    margin-left: 80px;
    margin-right: 20px;
}

.filterBar {
    width: 100px;
    border: 2px solid #B6B6B6;
    padding: 10px 25px;
    border-radius: 30px;
    display: flex;
    cursor: pointer;
    font-size: 16px;
}
/* 체크박스 스타일링 */
.filterOptions input[type="checkbox"] {
    appearance: none; /* 기본 스타일 제거 */
    border: 2px solid #d4d4d4;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

/* 체크된 상태의 체크박스 스타일링 */
.filterOptions input[type="checkbox"]:checked {
    border: 2px solid #D71718;
    
}

/* 체크된 상태의 체크 표시 스타일링 */
.filterOptions input[type="checkbox"]:checked::after {
    content: '✓';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 16px;
    font-weight: bold;
}
.filterOptions {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    line-height: 30px;
    width: 110px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.filterBarActive {
    border: 2px solid #D71718;
}

.filterIconActive {
    transform: rotate( 180deg );
}

.fontBoxContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fontBoxContainer>* {
    flex: 1;
    margin: 5px;
    min-width: calc(20% - 10px);
}

@media (max-width: 800px) {
    .fontBoxContainer>* {
        min-width: calc(33.3% - 10px);
    }
}

@media (max-width: 500px) {
    .fontBoxContainer>* {
        min-width: 90%;
    }
}