.container {
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 810px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* CSS 파일 내에서 */
body::-webkit-scrollbar {
  display: none; /* 스크롤바를 숨깁니다 */
}
.screen {
  width: 100%;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #d71718;
  max-height: 100px;
  border-radius: 12px 12px 12px 12px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b6b6b6;
}

::-webkit-scrollbar-track {
  background: #ebb4ad;
  border-radius: 12px 12px 12px 12px;
}

::-webkit-scrollbar-track:hover {
  background: #ececec;
}
