.container {
    padding-left: 100px;
    padding-right: 100px;
}
/* CSS 파일 내에서 */
body::-webkit-scrollbar {
    display: none; /* 스크롤바를 숨깁니다 */
}
.screen {
    width: 100%;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: #D71718;
    max-height: 100px;
    border-radius: 12px 12px 12px 12px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #B6B6B6;
}

::-webkit-scrollbar-track {
    background: #EBB4AD;
    border-radius: 12px 12px 12px 12px;
}

::-webkit-scrollbar-track:hover {
    background: #ECECEC;
}