.container {
  width: 1550px;
  height: 740px;
}

.warningBox {
  position: absolute;
  top: 235px;
  left: 528px;
  width: 500px;
  height: 390px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.loginBtn {
  margin: 10px;
  width: 200px;
  height: 50px;
  border-radius: 6.5px;
  border: 4px solid #d71718;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  &:hover {
    cursor: pointer;
    background-color: #d71718;
    color: white;
  }
}

.signupBtn {
  margin: 10px;
  width: 200px;
  height: 50px;
  border-radius: 6.5px;
  border: 0px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
  background-color: #d71718;
  color: white;
  &:hover {
    cursor: pointer;
    background-color: white;
    border: 4px solid #d71718;
    color: black;
  }
}

.oops {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
