.overLay {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modalContainer {
  background-color: white;
  width: 1000px;
  height: 635px;
  border-radius: 20px;
  border: 0px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.modalBox {
  width: 100%;
  height: 20px;
  padding: 20px;
  display: flex;
  box-sizing: border-box;
}

.buttonBox {
  width: 100%;
  height: 45px;
  padding: 0px 20px;
  display: flex;
  box-sizing: border-box;
}

.modalBtn {
  height: 100%;
  border: 3px solid #d71718;
  border-radius: 15px;
  aspect-ratio: 4;
  font-size: 20px;
  margin: 0px 10px;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.modalContentText {
  font-size: 32px;
}

.closeIcon {
  cursor: pointer;

  &:hover {
    color: #d71718;
  }
}

.fontImg {
  width: 100%;
  height: 100%;
}

.justASecond {
  font-size: 24px;
  margin: 20px 0px;
}

.label {
  display: flex;
  align-items: center;
}

.baseFont {
  flex-direction: row;
  align-items: center;
  display: flex;
  font-size: 40px;
  justify-content: space-around;
}

:root {
  accent-color: red;
}

input[type='radio'] {
  width: 30px;
  height: 30px;
  border: 1px;
}

.baseFonts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 79.5%;
  width: 90%;
}
