.overLay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.modalContainer {
  background-color: white;
  width: 1000px;
  height: 100%;
  border-radius: 20px;
  border: 0px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalBox {
  width: 100%;
  height: 60px;
  padding: 5px 20px;
  display: flex;
  box-sizing: border-box;
}

.modalBtn {
  height: 100%;
  border: 3px solid #d71718;
  border-radius: 15px;
  aspect-ratio: 4;
  font-size: 20px;
  margin: 0px 10px;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.modalContentText {
  font-size: 32px;
}

.closeIcon {
  cursor: pointer;

  &:hover {
    color: #d71718;
  }
}
