.container {
  width: 100%;
  height: 100%;
  /* text-align: center; */
  position: relative;
}

.swiperLargeBox {
  width: 100%;
  display: flex;
  align-items: center;
}

.swiper {
  width: 100%;
  padding: 0px 40px;
}

.swiperBox {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.swiperSlid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperHeader {
  margin: 0px;
  font-size: 60px;
  font-weight: bold;
  white-space: normal;
  /* 줄바꿈 허용 */
}

@keyframes shine {
  0% {
    background-position: 0;
  }

  60% {
    background-position: 600px;
  }

  120% {
    background-position: 600px;
  }
}

.swiperRedHeader {
  margin: 0px;
  font-size: 60px;
  font-weight: bold;
  color: #d71718;
  /* 또는 원하는 색상 코드 */
  background: linear-gradient(to right, #d71718 0, hsl(6, 100%, 97%) 10%, #d71718 20%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 10s infinite linear;
}

.customBtn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.headerBox {
  margin: 40px 0px;
  width: 100%;
  height: 25%;
  text-align: center;
}
