.container {
  width: 100%;
  height: 100%;
  /* text-align: center; */
  position: relative;
}

.swiperLargeBox {
  width: 100%;
  display: flex;
  align-items: center;
}

.swiper {
  width: 100%;
  padding: 0px 40px;
}

.swiperBox {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.swiperSlid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperHeader {
  margin: 0px;
  font-size: 55px;
  font-weight: bold;
  white-space: normal;
  /* 줄바꿈 허용 */
}

.swiperHeader span {
  font-size: 50px;
}

@keyframes shine {
  0% {
    background-position: 0;
  }

  60% {
    background-position: 600px;
  }

  120% {
    background-position: 600px;
  }
}

.swiperRedHeader {
  margin: 0px;
  font-size: 60px;
  font-weight: bold;
  color: #d71718;
  /* 또는 원하는 색상 코드 */
  background: linear-gradient(to right, #d71718 0, hsl(6, 100%, 97%) 10%, #d71718 20%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 10s infinite linear;
}

@keyframes typeWriter {
  from {
    width: 0;
  }
  to {
    width: 300px;
    padding-right: 5px;
  }
}
@keyframes blinkTextCursor {
  0%,
  50% {
    border-right-color: #d71718; /* 커서가 보이는 상태를 유지 */
  }
  51%,
  100% {
    border-right-color: transparent; /* 커서를 빠르게 숨김 */
  }
}
.typeWriterContainer {
  display: inline-block;
  overflow: hidden;
  vertical-align: Top; /* 이 속성은 레이아웃에 따라 조정이 필요할 수 있습니다. */
  height: 55px;
  margin-top: 10px;
}

.animationHeaderText {
  display: inline-block; /* 이 부분이 중요하며, inline 요소에는 width 속성이 적용되지 않습니다. */
  margin: 0px;
  font-size: 50px;
  font-weight: bold;
  color: #d71718;
  border-right: 3px solid #d71718;
  overflow: hidden;
  position: relative;
  letter-spacing: 3px;
  white-space: nowrap;
  animation:
    typeWriter 1.2s steps(70) 1s 1 normal both,
    blinkTextCursor 1s infinite;
}

.customBtn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.headerBox {
  margin: 40px 0px;
  width: 100%;
  height: 25%;
  text-align: center;
}
