.container {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.pencilBtn:hover {
  color: #d71718;
}

.header {
  width: 100%;
  height: 140px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
}
.content {
  width: 100%;
  height: 530px;
  box-sizing: border-box;
  padding: 0px 20px;
}
.ImgStyle {
  width: 100%;
  height: 100%;
}
.settingIcon {
  width: 30px;
  height: 30px;
  margin: 0px 20px;
}
.settingIcon:hover {
  color: #d71718;
  cursor: pointer;
  opacity: 0.7;
}
.bookmarkIcon {
  width: 100%;
  height: 100%;
  color: #d71718;
}
.bookmarkIcon:hover {
  opacity: 0.7;
  cursor: pointer;
}
