.container {
  width: 100%;
}

.manuscriptLargeBox {
  width: 240px;
  height: 60px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.manuscriptLargeBox:hover {
  opacity: 0.7;
}

.manuscriptSmallBox {
  width: 40px;
  height: 40px;
  border: 2px solid #D71718;
  border-left-width: 1px;
  border-right-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manuscriptSmallBetweenBoxLeft {
  width: 40px;
  height: 40px;
  border: 2px solid #D71718;
  border-left-width: 0px;
  border-right-width: 1px;
}
.manuscriptSmallBetweenBoxRight {
  width: 40px;
  height: 40px;
  border: 2px solid #D71718;
  border-left-width: 1px;
  border-right-width: 0px;
}

.manuscriptMiddleBox {
  display: flex;
  height: 40px;
  width: 100%;
}
.manuscriptLine {
  border: 2px solid #D71718;
}

.manuscriptText {
  font-size: 20px;
  font-weight: bold;
  color: #484848;
  margin: 0px;
}